<hr size="1">
<small>
<address>$projectname version 2.0, SVN revision $WCREV$, $WCDATE$.
Copyright &copy; 2003-2008 Adrian Weiler, INTEC International GmbH. Published under the GNU Free Documentation License, Version 1.2.
</address>
<address style="text-align: right;">
Generated on $datetime by&nbsp;<a href="http://www.doxygen.org/index.html"><img src="doxygen.png" alt="doxygen" align="middle" border="0"></a> $doxygenversion</address></small>
</body>
</html>
